CERTIFICATE_AUTHORITY_SUBJECT="/C=ZA/ST=Gauteng/L=Pretoria/O=Example Organization/OU=IT/CN=Example Local Root CA/emailAddress=admin@example.com"
CERTIFICATE_SUBJECT="/C=ZA/ST=Gauteng/L=Pretoria/O=Example Organization/OU=IT/CN=mypc.example.com/emailAddress=admin@example.com"
